* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.navbar {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: rgb(108, 108, 255);
    padding-top: 20px ;
}

h3 {
    font-size: 30px;
}

.container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    min-height: 66%;
    max-height: auto;
    width: 35%;
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    
}

.container ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}